{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5 text-center">Page not found</h1>
    <h3 class="mt-1 text-center">Error: 500</h3>

    <p class="text-center">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path("home") }}">return to the homepage</a>.
    </p>
{% endblock %}